[submodule "Debug_message"]
	path = Debug_message
	url = https://github.com/AleksandrVakulenko/Debug_msg_for_matlab.git
[submodule "aDevice"]
	path = aDevice
	url = https://github.com/AleksandrVakulenko/Automation_device_class.git
[submodule "Connector"]
	path = Connector
	url = https://github.com/AleksandrVakulenko/Device_connector_class.git
